<div class="col-md-6 col-md-offset-3 adding-form-box">
  <div class="col-md-12 box-heading-container">
    <p>Profile Setting</p>
  </div>
  <div class="col-md-12 box-value-container">
  <div class="col-md-12 form-group">
    <label for="manager-name">
     Manager Name
    </label>
    <input type="text" name="agent-name" class="form-control" id="agent-name" placeholder="Agent" />

  </div>
  <div class="col-md-12 form-group">
      <label for="branch-name">
        Branch Name
      </label>
      <input type="text" name="applicant-name" class="form-control" id="applicant-name" placeholder="Applicant" />
  
    </div>
    <div class="col-md-12 form-group">
        <label for="country-code">
          Email
        </label>
        <input type="email" name="email" class="form-control" id="email" placeholder="email">
    
      </div>
      <div class="col-md-12 form-group">
        <label for="country-code">
          Phone Number
        </label>
        <input type="text" name="phone-number" class="form-control" id="phone-number" placeholder="Phone Number">
    
      </div>
      <div class="col-md-12 form-group">
        <label for="country-code">
          Address
        </label>
        <textarea name="address" class="form-control" id="address"></textarea>
    
      </div>
        <div class="col-md-12 form-group">
         <button type="submit" class="btn btn-fps">Edit</button>
        </div>
        </div>
</div>